body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccf5ac;
}
.header {
    background-color: #04a777;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: bold;
}
.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}
.choices img {
    border-radius: 50%;
    cursor: pointer;
}
.choices img:hover {
    opacity: 0.50;
    border: 1.5px solid green;
    background-color: rgb(217, 225, 233);
}
.choices h3 {
    font-size: 20px;
    text-align: center;
    color: darkgreen;
}
.score-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: darkgreen;
    margin-top: 3rem;
}
p {
    line-height: 2rem;
    font-weight: lighter;
    color: green;
    font-size: 40px;
}
button {
    min-width: 20rem;
    height: 3rem;
    font-size: 1rem;
    display: block;
    cursor: pointer;
    display: block;  
    margin: 0 auto; 
    margin-top: 3rem;
    border: 3px solid #226f54;
    font-weight: bold;
}
button:hover {
    background-color: #04a777;
    color: aliceblue;
}
#text {
    text-align: center;
    color: #01402a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#text-display {
    color: #226f54;
}